@(currentPage: com.avaje.ebean.PagedList[models.Invoice], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._
@import fr.watchnext.utils.tags._
@import _root_.fr.watchnext.utils.views.PageDisplay

@import java.lang.String; val key="invoice"
@import java.lang.String; val controllerName="Invoices"
@import java.lang.String; val defaultSorting="nom, id, date"


@layouts.main(key, key+"-page") {

    <div class="row">
        <div class="col-xs-12 text-center">
        	<a type="button" class="btn btn-success" href="@routes.Invoices.createInvoice(0)"><span class="glyphicon glyphicon-plus"></span>@enhanced_messages("link.text.preset.collector.sav")</a>
        	<a type="button" class="btn btn-warning" href="@routes.Invoices.createInvoice(1)"><span class="glyphicon glyphicon-plus"></span>@enhanced_messages("link.text.preset.collector.avv")</a>
        	<a type="button" class="btn btn-primary" href="@routes.Invoices.createInvoice(2)"><span class="glyphicon glyphicon-plus"></span>@enhanced_messages("link.text.preset.hometime")</a>
        	<a type="button" class="btn btn-info" href="@routes.Invoices.createInvoice(3)"><span class="glyphicon glyphicon-plus"></span>@enhanced_messages("link.text.preset.miller")</a>
        </div>
    </div>

@defining(new PageDisplay(currentPage, defaultSorting, key+".page")) { pageDisplay =>
	@{  pageDisplay.addTableField("invoiceDate", "invoice.date", "getInvoiceDate", false, "date short");
		pageDisplay.addTableField("uniqueSerialKey", "unique.serial.key", "getUniqueSerialKey", false);
		pageDisplay.addTableField("customer", "customer", "getCustomer", false)
		pageDisplay.addTableField("customerTypeOfInvoice", "customer.type.of.invoice", "getCustomerTypeOfInvoice", false)
	}
	
	@fr.watchnext.utils.templates.page_with_default_links_and_action(pageDisplay, controllerName, null, currentSortBy, currentOrder, currentFilter, currentSize, true, null)
}
}

