@(key: String, id: String = "", title_option: String = "", before_content: Html = Html(""), end_scripts_bottom: Html = Html(""), in_head_content: Html = Html(""))(content: Html)

@import tags._

@head = {
    	@layouts.fragments.head_min(key, title_option)
        @local_stylesheet("stylesheets/bootstrap_for_printing-v1.0.css")
        
	    @local_stylesheet("stylesheets/style.css")
	    @local_stylesheet("stylesheets/main.css")

        @in_head_content
        
        <style type="text/css">
        @@page  
		{ 
		    size: auto;   /* auto is the initial value */ 
		
		    /* this affects the margin in the printer settings */ 
		    margin: 14mm 16mm 14mm 16mm;  
		}
		</style> 
	        
}

@footer = {
    @layouts.fragments.footer_min()
}

@end_scripts = {
    @layouts.fragments.end_scripts()
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    @end_scripts_bottom
}

@layouts.base(head, footer, id, end_scripts) {
	@before_content


    @content
}
